* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: Anybody, sans-serif;
    min-height: 200vh;
    background-color: #e5f0ff;
}
.navbar {
    position: sticky;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(10px); 
    padding: 10px 30px;
    z-index: 1000;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.navbar .logo-container {
    display: flex;
    align-items: center;
}
.navbar img {
    width: 40px; 
    margin-right: 10px;
    margin-left: 0;
    margin-top: 5px;
    margin-bottom: 5px;
    padding:0;
    padding-left: 0;
}
.navbar .logo-text {
    font-size: 24px;
    font-weight: bold;
    color: #000000;
}
.navbar ul {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 30px;
    margin: 0 auto;
    padding: 0;
}


.navbar ul li {
    font-size: 18px;
}

.navbar ul li a {
    text-decoration: none;
    color: #333;
    transition: color 0.3s;
}

.navbar ul li a:hover {
    color: #2adb0d;
}
h1{
    font-weight: 700;
    font-size:180px;
    margin-top: 15px;
    padding-left: 20px;
}

.products{
    width: 200px;
    height: 200px;
    color:darkgray;
}

.products {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Creates 3 columns */
    gap: 20px; /* Space between items */
    padding: 20px;
    max-width: 1000px; /* Controls the max width of the grid */
    margin: 0 auto; /* Centers the grid on the page */
}

.items {
    background-color: #cccbcb;
    border-radius: 15px;
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
    height: 200px;
    width: 200px; /* Ensure the div has a consistent size */
    display: flex;
    align-items: center;
    justify-content: center;
}
